/*GAME LOBBY CSS: Consists of root Border Pane,
a TOP, BOTTOM, RIGHT, CENTER and LEFT part
*/

/*root is a Border Pane*/
#root {

}

/*Common style class for the buttons in the left
part of the border pane in the game lobby
*/
.leftButtons {
    -fx-pref-width: 100px;
}

/*****************************************/
/*START TOP*/
/*****************************************/

#vBoxTop {

}

#menuBar {

}

#menuFile {

}

#menuOptions {

}

#menuHelp {

}

#gameRules {

}

#lblWindowTitle {
    -fx-font-size: 24px;
    -fx-background-color: aqua;
    -fx-padding: 20px;
    -fx-min-width: 800px;
}

/*****************************************/
/*END TOP*/
/*****************************************/

/*****************************************/
/*START BOTTOM*/
/*****************************************/

#bottomHBox {

}

#lblStatus {

}

#lblInfo {

}

/*****************************************/
/*END BOTTOM*/
/*****************************************/

/*****************************************/
/*START RIGHT*/
/*****************************************/

#rightVBox {

}

#txtArea {

}

#txtField {

}

/*****************************************/
/*END RIGHT*/
/*****************************************/

/*****************************************/
/*START CENTER*/
/*****************************************/

#centerVBox {

}

#gameListView {

}

/*****************************************/
/*END CENTER*/
/*****************************************/

/*****************************************/
/*START LEFT*/
/*****************************************/

#leftVBox {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#btnCreateGame {

}

#btnCreateGame:hover{

}

#btnCreateGame:pressed{

}

#btnLogin {

}

#btnLogin:hover{

}

#btnLogin:pressed{

}

#btnCreateProfile {

}

#btnCreateProfile:hover{

}

#btnCreateProfile:pressed{

}


#btnOptions {
    -fx-background-color: aquamarine;
}

#btnOptions:hover{

}

#btnOptions:pressed{

}

/*****************************************/
/*END LEFT*/
/*****************************************/