/*GAME LOBBY CSS: Consists of root Border Pane,
a TOP, BOTTOM, RIGHT, CENTER and LEFT part
*/

.root {
    -fx-background-color: #61B0FD;
    -fx-background-image: url("background.jpg");
    -fx-background-size: stretch;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-smoothing-type: lcd;
}

/*root is a Border Pane*/
#root {
}

/*Common style class for the buttons in the left
part of the border pane in the game lobby
*/
.leftButtons {
    -fx-pref-width: 300px;
    -fx-min-height: 65px;
    -fx-max-height: 65px;
    /*-fx-pref-height: 100px;*/
    -fx-text-alignment: center;
    -fx-background-insets: 0 0 -1 0, 0, 1;
    /*-fx-padding: 5 20 5 20;*/
    -fx-font-size: 24px;
    -fx-text-fill: #bde4ff;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.1, 3, 4);
    -fx-border-color: transparent;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.leftButtons:hover {
    -fx-effect: dropshadow(one-pass-box, black, 5, 0.1, 2, 3);
    -fx-font-size: 32px;
    -fx-text-fill: #7DC6FD;
}

.leftButtons:pressed {
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.1, 0, 0);
}

.leftButtons > text {
    -fx-effect: dropshadow(three-pass-box, white, 5, 0.1, 3, 4);
}

/*****************************************/
/*START TOP*/
/*****************************************/

#vBoxTop {

    -fx-background-color: #292828;
    -fx-opacity: 0.8;
    -fx-alignment: top-center;
}

#menuBar {

}

#menuFile {

}

#menuOptions {

}

#menuHelp {

}

#gameRules {

}

#lblWindowTitle {
    -fx-text-fill: #7af5c4;
    -fx-text-alignment: center;
    -fx-font-size: 48px;
    -fx-padding: 0px 0px 10px 0px;
    -fx-border-insets: 0 0 -1 0, 0, 1;
    -fx-border-radius: 5;
    -fx-border-width: 1px;
}

/*****************************************/
/*END TOP*/
/*****************************************/

/*****************************************/
/*START RIGHT*/
/*****************************************/

#rightVBox {
    -fx-padding: 10px 40px;
}

#txtArea {
    -fx-alignment: center-left;
    -fx-min-height: 300px;
    -fx-max-height: 300px;
    -fx-max-width: 300px;
    -fx-min-width: 300px;
    -fx-text-fill: #ffffff;
}

.text-area .content{
    -fx-background-color: #308eff;
}

#txtArea:focused {
    -fx-display-caret: false;
}

#txtField {
    -fx-alignment: baseline-left;
}

/*****************************************/
/*END RIGHT*/
/*****************************************/

/*****************************************/
/*START BOTTOM*/
/*****************************************/

#bottomHBox {
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: #292828;
    -fx-opacity: 0.8;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.1, -2, 5);
}

#lblStatus {
    -fx-alignment: center-left;
    -fx-padding: 7px 10px 10px 10px;;
    -fx-text-fill: whitesmoke;

}

#lblInfo {
    -fx-alignment: center-left;
    -fx-padding: 7px 10px 10px 5px;
    -fx-text-fill: whitesmoke;
}

/*****************************************/
/*END BOTTOM*/
/*****************************************/

/*****************************************/
/*START LEFT*/
/*****************************************/

#leftVBox {
    -fx-padding: 20px;
    -fx-max-width: 350px;
    -fx-min-width: 350px;
}

#btnCreateGame {

}

#btnCreateGame:hover {

}

#btnCreateGame:pressed {

}

#btnLogin {

}

#btnLogin:hover {

}

#btnLogin:pressed {

}

#btnCreateProfile {

}

#btnCreateProfile:hover {

}

#btnCreateProfile:pressed {

}

#btnOptions {

}

#btnOptions:hover {

}

#btnOptions:pressed {

}



/*****************************************/
/*END LEFT*/
/*****************************************/

/*****************************************/
/*START CENTER*/
/*****************************************/

#centerVBox {
    -fx-alignment: top-center;
    -fx-padding: 20px 0px 300px 0px;
    -fx-min-width: 500px;
    -fx-max-width: 500px;

}

#lblGameTitles {
    -fx-alignment: top-center;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0.1, 3, 3);
    -fx-text-fill: white;
    -fx-font-size: 36px;
}

#gameListView {
    -fx-alignment: top-center;
    -fx-background-color: transparent;
    -fx-min-height: 200px;
    -fx-max-height: 200px;
    -fx-min-width: 500px;
    -fx-max-width: 500px;
}

.list-cell {
    /*-fx-background-color: ;*/
    -fx-font-size: 18px;
}

.list-cell:focused {
    /*-fx-background-color: ;*/
}

/*****************************************/
/*END CENTER*/
/*****************************************/

/*****************************************/
/*START POPUP*/
/*****************************************/

#panePopup {
    -fx-min-width: 300px;
    -fx-min-height: 40px;
    -fx-max-width: 300px;
    -fx-max-height: 40px;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #7DC6FD, #61B0FD);
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.1, 4, 3);
    -fx-background-radius: 5;
}

#lblPopup {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-padding: 7px 0px 10px 15px;
    -fx-font-size: 20px;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.1, 4, 3);
}

/*****************************************/
/*END POPUP*/
/*****************************************/

