.root{
    -fx-background-color: lightblue;
    -fx-background-image: url("../background_2.jpg");
    -fx-background-size: stretch;
    -fx-font-family: "Arial Black";
    -fx-font-smoothing-type: lcd;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}


